@import "tailwindcss";

@theme inline {
  --color-neutral-50:  hsl(0, 0%, 98%);
  --color-neutral-100: hsl(0, 0%, 95%);
  --color-neutral-200: hsl(0, 0%, 90%);
  --color-neutral-300: hsl(0, 0%, 80%);
  --color-neutral-400: hsl(0, 0%, 65%);
  --color-neutral-500: hsl(0, 0%, 50%);
  --color-neutral-600: hsl(0, 0%, 40%);
  --color-neutral-700: hsl(0, 0%, 30%);
  --color-neutral-800: hsl(0, 0%, 20%);
  --color-neutral-900: hsl(0, 0%, 10%);
  --color-neutral-950: hsl(0, 0%, 5%); 

  --color-secondary: oklch(62.793% 0.25768 29.223);
  --color-secondary-bg: oklch(34.667% 0.14226 29.223);

  --color-background-1: var(--background-1);
  --color-background-2: var(--background-2);
  --color-interactive-1: var(--interactive-1);
  --color-interactive-2: var(--interactive-2);
  --color-interactive-3: var(--interactive-3);
  --color-border-1: var(--border-1);
  --color-border-2: var(--border-2);
  --color-border-3: var(--border-3);
  --color-solid-1: var(--solid-1);
  --color-solid-2: var(--solid-2);
  --color-text-1: var(--text-1);
  --color-text-2: var(--text-2);

  --font-sans: var(--font-roboto);
  --font-serif: var(--font-playfair-display);
  /* --font-sans: var(--font-inter);
  --font-serif: var(--font-merriweather); */
}

:root {
  --background-1: oklch(98.563% 0.00826 55.879);
  --background-2: oklch(95.864% 0.01927 60.013);
  --interactive-1: #FFE3CC;
  --interactive-2: #FFD1A3;
  --interactive-3: #FFB870;
  --border-1: #E6B58C;
  --border-2: #D49360;
  --border-3: #BF733E;
  --solid-1: oklch(75.078% 0.19088 45.003);
  --solid-2: oklch(69.078% 0.19088 45.003); 
  --solid-3: #FF801F; 
  --text-1: oklch(35.587% 0.08098 52.922); 
  --text-2: #7A3E14; 

}

.dark {
  --background-1: oklch(18.694% 0.01143 60.633);
  --background-2: oklch(22.782% 0.01849 62.69);
  --interactive-1: #331E0B;
  --interactive-2: #462100;
  --interactive-3: #562800;
  --border-1: #66350C;
  --border-2: #7E451D;
  --border-3: #A35829;
  --solid-1: oklch(60.078% 0.19088 45.003);
  --solid-2: oklch(69.078% 0.19088 45.003);
  --solid-3: #FF801F;
  --text-1: oklch(82.875% 0.14331 56.197);
  --text-2: #FFE0C2;
}

body {
  font-family: var(--font-sans), system-ui, sans-serif;
}
h1, h2, h3 { 
  font-family: var(--font-serif), serif;
}

@layer base {
  section {
    @apply pt-15 pb-45 px-8;
  }
  section:nth-child(odd) {
    @apply bg-linear-to-b from-background-1 from-70% to-background-2 to-100%;
  }
  section:nth-child(even) {
    @apply bg-linear-to-b from-background-2 from-70% to-background-1 to-100%;
  }
}

@layer utilities {
  .card-hover {
    @apply text-text-1 border-2 border-(--color-border-1) border-t-(--color-border-3)  bg-interactive-1 transition-transform duration-300 ease-in-out transform;
  }
  .card-hover:hover {
    @apply scale-[1.04] shadow-xl bg-linear-to-b from-interactive-3 from-0% to-interactive-1 to-50%;
  }

  .button-hover {
    @apply px-3 py-1.5 text-sm sm:px-6 sm:py-3 sm:text-base bg-solid-2 hover:bg-interactive-3 border-(--color-border-3) border-t-(--color-border-1) border-2 text-text-2 /*translate-z-0 backface-hidden antialiased perspective-[1px]*/;
  }
  .button-hover:hover {
    @apply duration-300 scale-[1.05] shadow-lg bg-linear-to-b from-interactive-3 from-30% to-solid-2 to-90%;
  }
}

/* @theme {
  --color-bg-bottom: hsl(0, 0%, 0%);
  --color-bg-middle: hsl(0, 0%, 5%);
  --color-bg-top: hsl(0, 0%, 10%);
  --color-text-header: hsl(0, 0%, 95%);
  --color-text-muted: hsl(0, 0%, 70%);

  --color-highlight: oklch(0.5 0.2 47);
  --color-border: oklch(0.4 0.2 47);
  --color-border-muted: oklch(0.3 0.2 47);
  --color-primary: oklch(0.5765 0.1973 45.53);
  --color-secondary: oklch(0.5765 0.2368 25.41);
  --color-complementary: oklch(0.5294 0.2689 268.94);

  --color-tomato-1:  #fffcfc;
  --color-tomato-2:  #fff8f7;
  --color-tomato-3:  #fff0ee;
  --color-tomato-4:  #ffe6e2;
  --color-tomato-5:  #fdd8d3;
  --color-tomato-6:  #fac7be;
  --color-tomato-7:  #f3b0a2;
  --color-tomato-8:  #ea9280;
  --color-tomato-9:  #e54d2e;
  --color-tomato-10: #db4324;
  --color-tomato-11: #ca3214;
  --color-tomato-12: #341711;

} */